html, body{
  margin: 0;
  padding: 0;
}


* {
  font-family: 'Satoshi', sans-serif;
}

body {
  text-align: center;
  
}

.primary-btn {
  color: white;
  font-size: 15px;
  padding: 12px 40px;
  text-transform: uppercase;
    background: linear-gradient(45deg, #fe3072, #ff4940);
  border-radius: 20px;
  border: none;

}

.primary-btn:hover {
  background: linear-gradient(45deg, #ff4940, #fe3072);
}

/*--------------------- Navbar */

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0;
}

nav .logo-container {
  width: 170px;
  padding: 15px;
}

nav .logo-container .logo {
  width: 100%;
}

nav .navBtn{
  background-color: white;
  color: #fe3072;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-size: 15px;
}
nav .navBtn:disabled{
  background-color: rgb(180, 180, 180);
  color: #972046;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-size: 15px;
}



/* -----------------------Homepage */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;  
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  ), url('images/bg.webp')
}
.home{
  margin-top: 175px;
}
.home h1{
  font-size: 85px;
  font-weight: 800;
  color: white;
}






/* ----------------------AuthModal */
.authModal{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  height: auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 22px -18px rgba(0,0,0,0.59);
-moz-box-shadow: 10px 10px 22px -18px rgba(0,0,0,0.59);
box-shadow: 10px 10px 22px -18px rgba(0,0,0,0.59);
  transition: 0.5s ease-in-out;
}


.authModal .close-icon{
  float: right;
}

.secondary-btn{
  padding: 12px 28px;
  background: linear-gradient(45deg, #ff4940, #fe3072);
  color: white ;
  border-radius: 12px;
}

.secondary-btn:hover{
  padding: 12px 30px;
  background: linear-gradient(45deg, #fe3072, #ff4940);
  color: white;
}

.authModal form{
  display: flex;
  flex-direction: column;
}
.authModal input{
  padding: 12px;
  margin: 10px;
  border-radius: 12px;
  font-size: 16px;
}





/* -----------------Onboarding Page---------------- */

.onboarding{
  border-top: 2px solid grey;
}
.onboarding form{
  display: flex;
  justify-content: center;
}

.onboarding form section{
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: start;
}
.onboarding input{
  padding: 12px;
  margin: 10px;
  border-radius: 12px;
  font-size: 16px;
  border: 2px solid grey;
}
.onboarding label{
  margin: 10px 0;
  font-weight: 600;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button{
  -webkit-appearance: none;
    margin: 0;
}


.onboarding .multiple-input-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.onboarding .multiple-input-container input{
  margin-right: 10px;
}
.onboarding .multiple-input-container label{
  padding: 8px 10px;
  border: 2px solid grey;
  border-radius: 10px;
  margin-right: 10px;
}
.onboarding form input[type="radio"]
{
  display: none;
}

.onboarding form input[type="radio"]:checked + label{
  border: 2px solid #fe3072;
  color: #fe3072;
}

.onboarding form input[type="submit"]{
  background: linear-gradient(45deg, #ff4940, #fe3072);
  border: none;
  color: white ;
}

.onboarding form input[type="submit"]:hover{
  background: linear-gradient(45deg, #fe3072, #ff4940);
  color: white ;
}

.onboarding form input[type="number"]{
  width: 30%;
}
.onboarding form input[type="checkbox"]{
  width: 50px;
}
.onboarding form .photo-container{
  width: 100%;
}


/* DashBoard */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashboard{
  display: flex;
  justify-content: space-between;
}

.dashboard .swipe-container{
  display: flex;
  width: 70%;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
  height: 100vh;
  align-items: center;
  
}

.dashboard .card-overlay{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(205,71,4,0) 100%);

}
/* -----------------------------Tinder Card--------- */

.swipe {
  position: absolute;
}

.dashboard .card-container {
 width: 450px;
 height: 550px;
 border-radius: 20px;
 
}
.dashboard .card {
  background-color: #fff;
  width: 450px;
  height: 550px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}


/* --------------ChatContainer */

.chat-container{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  overflow: hidden;
  text-align: left;
  z-index: 1;
}
.chat-container .chat-container-header{
  height: 100px;
  background: linear-gradient(45deg, #fe3072, #ff4940);
  color: white ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.chat-container .btns{
  padding: 12px 30px;
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 2px solid #fe3072;
  background-color: white;
  
}

.chat-container .btns:disabled{
 border-bottom: solid 2px rgba(187, 187, 187, 187);
}

.chat-container .profile{
  padding: 20px;
  display: flex;
  align-items: center;
  
}
.img-container{
  border-radius: 50px;
  height:40px;
  width: 40px;
  overflow: hidden;
  margin: 10px;
  background-color: white;
}

.chat-container-header .logout-icon{
  margin: 20px;
  font-size: 25px;
}

/* Chat Display */

.chat-display{
  overflow-y: auto;
  height: 60vh;
  padding: 20px;
}
.chat-input{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  
}
.chat-input textarea{
  width: 100%;
  border-radius: 12px;
}
